body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.home-section h2 {
    font-size: 46px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #008080;
    z-index: 1000;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.home-section {
    background-color: #e0f7fa; /* Light Blue */
}

.events-section {
    background-color: #b2dfdb; /* Light Teal */
}

.about-section {
    background-color: #c5cae9; /* Light Purple */
}

.section {
    margin: 50px auto; /* Center the content and add space above and below each section */
    text-align: center;
    max-width: 1200px; /* Limit the width of the content for better readability */
}

.section-title {
    font-size: 24px;
    margin-bottom: 5px; /* Add space below the section title */
}

.logo-container {
    text-align: center;
    margin-top: 100px; /* Adjust the margin-top to create more space above the logo */
}

.logo-wrapper {
    display: inline-block;
   
}

.logo {
    max-width: 100%;
    height: auto;
    z-index: 1;
    max-height: 200px;
}


.flyer-container {
    text-align: center;
}

.flyer {
    max-width: 100%;
    height: auto;
    max-height: 700px;
}

.left-text,
.right-text {
    font-size: 16px;
}

ul {
    list-style-type: none;
}

.register {
	font-size: 28px;
	background-color: #D1EEEE	
}

.section-divider {
    margin: 20px 0;
    border: 1px solid #000; /* Black line as section divider */
}

.section-divider-home {
    margin: 30px 0; /* Increased margin for more space */
    border: 1px solid #008080; /* Match the color of the navbar */
}

footer {
    background-color: #008080;
    color: white;
    text-align: center;
    padding: 5px; /* Adjusted padding for a smaller footer text */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-text {
    font-size: 12px; /* Adjusted font size for the footer text */
}
